<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
    <?include $(sys.CURRENTDIR)\Variables.wxi?>
	<Bundle Name="$(var.ProductName)"
            Manufacturer="$(var.Manufacturer)"
            Version="$(var.Version)"
            UpgradeCode="$(var.UpgradeCode)"
            DisableModify="yes">
        <!--<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
            <bal:WixStandardBootstrapperApplication LicenseUrl="http://www.google.com" />
        </BootstrapperApplicationRef>-->
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense" />
        <WixVariable Id="WixStdbaLicenseUrl" Value="" />
        <Chain>
            <ExePackage Id="dotNet40CP"
                        Name="dotNetFx40_Client_x86_x64.exe"
                        DownloadUrl="http://download.microsoft.com/download/5/6/2/562A10F9-C9F4-4313-A044-9C94E0A8FAC8/dotNetFx40_Client_x86_x64.exe"
                        DetectCondition="NOT NETFRAMEWORK40CLIENT"
                        InstallCondition="NOT NETFRAMEWORK40CLIENT">
                <RemotePayload CertificatePublicKey="672605E36DD71EC6B8325B91C5FE6971390CB6B6"
                               CertificateThumbprint="9617094A1CFB59AE7C1F7DFDB6739E4E7C40508F"
                               Description="Microsoft .NET Framework 4 Client Profile Setup"
                               Hash="4CD67F609F89D617D2B206341B8C211E1B88B287"
                               ProductName="Microsoft .NET Framework 4 Client Profile"
                               Size="43000680"
                               Version="4.0.30319.1" />
            </ExePackage>
            <MsiPackage Id="MultipleClipbaordsPackage" SourceFile="$(var.MsiFileName)"/>
        </Chain>
    </Bundle>
</Wix>