<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:Util="http://schemas.microsoft.com/wix/UtilExtension">
    
    <?include $(sys.CURRENTDIR)\Variables.wxi?>
    <Product Id="10520295-45E5-4ACF-A755-0B04D28E0FA4"
             Name="$(var.ProductName)"
             Language="1033"
             Version="$(var.Version)"
             Manufacturer="$(var.Manufacturer)"
             UpgradeCode="$(var.UpgradeCode)">

        <Package Id="*" Keywords="Installer" Description="Multiple Clipboards 2 Installer" InstallerVersion="200" Languages="1033" Compressed="yes"/>
        <Media Id="1" Cabinet="MultipleClipboards.cab" EmbedCab="yes"/>
        <Icon Id="Clipboard.ico" SourceFile="..\..\Presentation\Icons\Clipboard.ico" />
        <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
        
        <!-- Setup the WIX UI libraries used -->
        <UI>
            <UIRef Id="WixUI_InstallDir" />
            <UIRef Id="WixUI_ErrorProgressText" />
        </UI>
        
        <!-- Define properties -->
        <Property Id="ARPPRODUCTICON" Value="Clipboard.ico" />
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <!--<Property Id="APP_RUNNING" Value="0" />-->
        
        <PropertyRef Id="NETFRAMEWORK40CLIENT"/>
        <Condition Message="Multiple Clipboards requires the .NET Framework 4.0 Client Profile.">
            <![CDATA[Installed OR NETFRAMEWORK40CLIENT]]>
        </Condition>

        <!-- Configure upgrade scenarios -->
        <MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit."/>
        
        <!-- Setup any custom actions -->
        <CustomAction Id="LaunchApp" FileKey="MultipleClipboardsEXE" ExeCommand="-fromShortcut" Return="asyncNoWait" />
        <!--<CustomAction Id="CheckingForRunningInstances" BinaryKey="MultipleClipboardsCustomActions" DllEntry="CheckForRunningInstances" />
        <CustomAction Id="PurgeExistingAppData" BinaryKey="MultipleClipboardsCustomActions" DllEntry="PurgeExistingAppData" />-->

        <!-- Configure the actual installation -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="ProgramFilesFolder">
                <Directory Id="INSTALLDIR" Name="Multiple Clipboards">
                    <Component Id="EventLogSourceComponent" Guid="b7db88a9-6f81-4599-a5b8-598d5bc5432f">
                        <Util:EventSource Log="Application" Name="Multiple Clipboards" EventMessageFile="%SystemRoot%\Microsoft.NET\Framework\v2.0.50727\EventLogMessages.dll" KeyPath="yes"/>
                    </Component>
                    <Component Id="MainExecutableComponent" Guid="d3062405-d9cc-47c5-92f1-b784ff4a63dd">
                        <File Id="MultipleClipboardsEXE" Name="MultipleClipboards.exe" Source="MultipleClipboards.exe" KeyPath="yes">
                            <Shortcut Id="StartMenuShortcut" Directory="ProgramMenuDir" Arguments="-fromShortcut" Name="Multiple Clipboards" WorkingDirectory="INSTALLDIR" Icon="Clipboard.ico" Advertise="yes" />
                            <Shortcut Id="StartupShortcut" Directory="StartupFolder" Name="Multiple Clipboards" WorkingDirectory="INSTALLDIR" Icon="Clipboard.ico" Advertise="yes" />
                        </File>
                    </Component>
                    <Component Id="AppConfigComponent" Guid="3c81feb1-833c-4115-a00e-95ae6fd0746d">
                        <File Id="AppConfig" Name="MultipleClipboards.exe.config" Source="MultipleClipboards.exe.config" KeyPath="yes" />
                    </Component>
                    <Component Id="GlobalResourcesComponent" Guid="a851638f-8d4e-4b85-b1b1-c084ef765ef7">
                        <File Id="GlobalResourcesDLL" Name="MultipleClipboards.GlobalResources.dll" Source="MultipleClipboards.GlobalResources.dll" KeyPath="yes" />
                    </Component>
                    <Component Id="QuantumBitComponent" Guid="9694c407-98c2-49fc-93fb-ba9394ebedd0">
                        <File Id="QuantumBitDLL" Name="QuantumBitDesigns.Core.dll" Source="QuantumBitDesigns.Core.dll" KeyPath="yes" />
                    </Component>
                    <Component Id="VistaMenuComponent" Guid="a081eaf1-9336-4128-86cc-08ee16d59f54">
                        <File Id="VistaMenuDLL" Name="VistaMenu.dll" Source="VistaMenu.dll" KeyPath="yes" />
                    </Component>
                    <Component Id="Log4NetComponent" Guid="9aa79d20-be5d-40f2-bf9e-20fe3a840095">
                        <File Id="Log4NetDLL" Name="log4net.dll" Source="log4net.dll" KeyPath="yes" />
                    </Component>
                    <Component Id="InputSimulatorComponent" Guid="67d74a1b-45b9-42d4-9f03-aaaf119d0648">
                        <File Id="InputSimulatorDLL" Name="InputSimulator.dll" Source="InputSimulator.dll" KeyPath="yes" />
                    </Component>
                </Directory>
            </Directory>

            <Directory Id="ProgramMenuFolder" Name="Programs">
                <Directory Id="ProgramMenuDir" Name="Multiple Clipboards">
                    <Component Id="ProgramMenuDir" Guid="dfe6d4b8-d2db-4a36-b9fa-424378662712">
                        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" />
                    </Component>
                </Directory>
            </Directory>

            <Directory Id="StartupFolder" Name="Startup" />
        </Directory>

        <Feature Id="Complete"
                 Title="Multiple Clipboards 2.0"
                 Description="The multiple clipboards application"
                 Display="expand"
                 ConfigurableDirectory="INSTALLDIR"
                 InstallDefault="local"
                 Level="1"
                 AllowAdvertise="no"
                 Absent="disallow">
            <ComponentRef Id="EventLogSourceComponent" />
            <ComponentRef Id="MainExecutableComponent" />
            <ComponentRef Id="AppConfigComponent" />
            <ComponentRef Id="GlobalResourcesComponent" />
            <ComponentRef Id="QuantumBitComponent" />
            <ComponentRef Id="VistaMenuComponent" />
            <ComponentRef Id="Log4NetComponent" />
            <ComponentRef Id="InputSimulatorComponent" />
            <ComponentRef Id="ProgramMenuDir" />
        </Feature>

        <InstallExecuteSequence>
            <!--<Custom Action='CheckingForRunningInstances' After='CostFinalize'></Custom>
            <Custom Action='PurgeExistingAppData' After='CostFinalize'></Custom>-->
            <Custom Action="LaunchApp" After="InstallFinalize">Not Installed</Custom>
        </InstallExecuteSequence>

        <!--<Binary Id="MultipleClipboardsCustomActions" SourceFile="MultipleClipboards.WixCustomActionsPackage.dll" />-->
    </Product>
</Wix>
